.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: white;
  background-color: #8076a3;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.floating-button:hover {
  background-color: #9c90c5;
}