.table__container {
  min-height: 50rem;
  padding: 3rem;
  background-color: #ffffff;
  width: 120rem;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

.table__header {
  font-size: 2rem;
}

.table__content {
  border-collapse: collapse;
  width: 100%;
}

.table__content tr {
  height: 3rem;
}

.table__content th {
  text-transform: uppercase;
  color:  #8076a3;
  text-align: left;
  font-size: 1.2rem;
}

.table__content tbody tr:nth-child(odd) {
  background-color: #f7f7fc;
}

.dates {
  font-size: 1rem;
}

.table__content td, 
.table__content th {
  padding: 1.5rem;
}

.table__button {
  border:none;
  background: none;
  width: 2rem;
}
.table__button:focus { 
  outline: none; 
}

.svg {
  color: #7e7f81;
}

.svg:hover {
  color: #44484d;
}