* {
  margin: 0;
  padding: 0; 
}

* {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  background-color: #f7f7fc;
  color:  #44484d;
}

